.choice-box {
  -fx-background-color: #151b28;

}

.choice-box .context-menu { -fx-background-color: #151b28; 
	
}
.choice-box > .label { -fx-text-fill: white; 
	
}
.choice-box .menu-item:focused { -fx-background-color: #0f131c; 
	
}

.choice-box .menu-item > .label { -fx-text-fill: white; 
	
}

.choice-box .menu-item:focused > .label { -fx-text-fill: white; 
	
}
